
  
<% if (errorMsg && errorMsg.length > 0) { %>
  <div class="alert alert-danger text-center">
    <%= errorMsg %>
  </div>
<% } %>

<% if (successMsg && successMsg.length > 0) { %>
  <div class="alert alert-success text-center">
    <%= successMsg %>
  </div>
<% } %>

